<div class="row">
    <div class="card p-3 mt-2 col-md-4 offset-md-4" *ngFor="let tweet of data.tweets">
        <div class="card-body">
            <a class="text-dark" [routerLink]="['/tweet', tweet.id]">
                <h5 class="card-title">
                    {{tweet.author}}
                    {{tweet.publishDate | date:'dd/MM/yyyy'}}
                </h5>
                <hr class="my-2">
                <p class="card-text mb-1">{{tweet.content}}</p>
            </a>
            <div>
                <button type="button" class="btn btn-secondary" [ngClass]="{'btn-info': tweet.like}"
                    (click)="onLiked(tweet)">
                    <i class="far fa-thumbs-up"></i>{{tweet.like ? "Liked" : "Like"}}
                </button>
                <button type="button" class="btn btn-secondary" [ngClass]="{'btn-info': tweet.retweet}"
                    (click)="onRetweeted(tweet)">
                    <i class="fas fa-retweet"></i>{{tweet.retweet ? "Retweeted" : "Retweet"}}
                </button>
            </div>
            <br>
            <!-- {{tweet | json}} -->
        </div>
    </div>
</div>