<div class="row" *ngIf="tweet">
    <div class="col-md-4 offset-md-4 fulltweet">
        <h5>
            {{tweet.author}}
            {{tweet.publishDate | date:'dd/MM/yyyy'}}
        </h5>
        <br>
        <p>{{tweet.content}}</p>
        <br>
        <button type="button" class="btn btn-secondary" (click)="onLiked(tweet)"><i class="far fa-thumbs-up"></i> {{tweet.like ? "Liked": "Like"}}</button>
        <button type="button" class="btn btn-secondary"(click)="onRetweeted(tweet)"><i class="fas fa-retweet"></i> {{tweet.retweet ? "Retweeted" : "Retweet"}}</button>
    </div>
   
    <div class="col-md-4 offset-md-4 comments">
        <H5>Comments</H5>
        <ul>
            <li>
                Name Date
                Comment 1
            </li>
            <li>
                Name Date
                Comment 2
            </li>
            <li>
                Name Date
                Comment 3
            </li>
        </ul>
    </div>
</div>